.idea/
Coursera/Yandex/Part_1/Week_2/data/
Coursera/Yandex/Part_1/Week_2/models/
Coursera/Yandex/Part_1/Week_2/notebooks/
Coursera/Yandex/Part_1/Week_3/data/
Coursera/Yandex/Part_1/Week_3/models/
Coursera/Yandex/Part_1/Week_3/notebooks/